.nextflow*
*Fqs*
*fq*
*Fastq*
*fastq*
*test*
work/
old/
*.err
*.out
*test*/
*practice*/
*test*
results/*
real*/
filtering/
test*
nextflow.config
.DS*
._.DS*
runSentieonPL.sh
runSentieonPLTesting.sh
testingHaplotyperGvcfTyperInOut.nf
