/*
 * Pezzolesi Lab Sentieon Pipeline
 * Author: Scott Frodsham
 * Copyright (c) 2018: none (lol)
*/

// --------------- Config file for WGS samples processed by Wuxi --------------

params {
    // Project Name (also the name of your final VCF)
    project = "joslinFamilies_targSeq"

    // Fastq or Cram to start
    startingFromCrams = true
    dataDir = "/uufs/chpc.utah.edu/common/home/pezzolesi-group1/sample_files/BAMs/*.bam"
    dataPath = "/uufs/chpc.utah.edu/common/home/pezzolesi-group1/sample_files/BAMs/"

    // Multiplexed to data
    isDemuxNeeded = false
    barcodeFile   = ""
    sampleKey     = ""

    // Targeted or WES data
    isIntervalNeeded = true
    targetedBedFile = "/uufs/chpc.utah.edu/common/home/pezzolesi-group1/sample_files/ELID0481591/ELID0481591.targeted.interval_list"
    tiledBedFile = "/uufs/chpc.utah.edu/common/home/pezzolesi-group1/sample_files/ELID0481591/ELID0481591.tiled.interval_list"

    // Joint Calling

    // CPUs
    kp_cpus = 16
    cpus_left = 5
    single_cpus = 1
    np_cpus = 32
    em_cpus = 12

    // Default runtime parameters
    complete     = "$scr/sentieonJoslinFamTargSeq"
    fastqc       = "$scr/sentieonJoslinFamTargSeq/results/fastqc"
    fastp        = "$scr/sentieonJoslinFamTargSeq/results/fastp"
    bam          = "$scr/sentieonJoslinFamTargSeq/results/bam"
    bqsr         = "$scr/sentieonJoslinFamTargSeq/results/bqsr"
    stats        = "$scr/sentieonJoslinFamTargSeq/results/bam/stats"
    coverage     = "$scr/sentieonJoslinFamTargSeq/results/bam/coverage"
    gvcf         = "$scr/sentieonJoslinFamTargSeq/results/gvcf"
    vcf          = "$scr/sentieonJoslinFamTargSeq/results/vcf"
    annotatedVCF = "$scr/sentieonJoslinFamTargSeq/results/vcf"
    vcfstats     = "$scr/sentieonJoslinFamTargSeq/results/vcf/stats"
    multiqc      = "$scr/sentieonJoslinFamTargSeq/results/multiqc"

    // Needed reference files
    reference   = "/uufs/chpc.utah.edu/common/home/pezzolesi-group1/resources/GATK/b37/human_g1k_v37_decoy_phix.fasta"
    indel_mills = "/uufs/chpc.utah.edu/common/home/pezzolesi-group1/resources/GATK/b37/Mills_and_1000G_gold_standard.indels.b37.vcf"
    dbsnp       = "/uufs/chpc.utah.edu/common/home/pezzolesi-group1/resources/GATK/b37/dbsnp_138.b37.vcf"
    hapmap      = "/uufs/chpc.utah.edu/common/home/pezzolesi-group1/resources/GATK/b37/hapmap_3.3.b37.vcf"
    omni        = "/uufs/chpc.utah.edu/common/home/pezzolesi-group1/resources/GATK/b37/1000G_omni2.5.b37.vcf"
    snp_1G      = "/uufs/chpc.utah.edu/common/home/pezzolesi-group1/resources/GATK/b37/1000G_phase1.snps.high_confidence.b37.vcf"

    // VQSR default parameters
    indel_mills_par  = 'mills,known=false,training=true,truth=true,prior=12.0'
    hapmap_par       = 'hapmap,known=false,training=true,truth=true,prior=15.0'
    omni_par         = 'omni,known=false,training=true,truth=true,prior=12.0'
    snp_1G_par       = '1000G,known=false,training=true,truth=false,prior=10.0'
}

// DEPENDENCY: need fastq-multx
// DEPENDENCY: need at least cutadapt version 1.16 to use the -j flag for multithreading
// DEPENDENCY: need latest fastp (0.19.6) to use the --detect_adapter_for_pe flag (using slurm intallation)
// DEPENDENCY: Using multiqc/1.7 because I keep getting an error using the CHPC modules
// DEPENDENCY: Using annovar to annotate VCF (using slurm installation of annovar)

process {
    errorStrategy = 'retry'
    maxErrorRetry = 3
    executor = 'slurm'
    //clusterOptions = '--account=pezzolesi --partition=notchpeak-shared -n 5 --mem=28G -N 1'
    clusterOptions = '--account=pezzolesi-np --partition=pezzolesi-shared-np -n 5 --mem=28G -N 1'
    time = '12h'

    scratch = "$scr/sentieonJoslinFamTargSeq"

    // Specific process specifications

    withName: demuxFq {
        //clusterOptions = '--account=pezzolesi --partition=notchpeak-shared -n 26 --mem=144G -N 1'
        clusterOptions = '--account=pezzolesi-np --partition=pezzolesi-shared-np -n 26 --mem=144G -N 1'
        time = '2h'
    }
    
    withName: runFastqc {
        module = 'fastqc'
    }

    withName: unzipFastqs {
        //clusterOptions = '--account=pezzolesi --partition=notchpeak-shared -n 1 --mem=20G -N 1'
        clusterOptions = '--account=pezzolesi-np --partition=pezzolesi-shared-np -n 1 --mem=20G -N 1'
    }

    withName: BWA {
        //clusterOptions = '--account=pezzolesi --partition=notchpeak-shared -n 10 --mem=32G -N 1'
        clusterOptions = '--account=pezzolesi-np --partition=pezzolesi-shared-np -n 10 --mem=32G -N 1'
    }

    withName: samStats {
        //clusterOptions = '--account=pezzolesi --partition=notchpeak-shared -n 1 --mem=20G -N 1'
        clusterOptions = '--account=pezzolesi --partition=notchpeak-shared -n 1 --mem=20G -N 1'
    }

    withName: samFlagstat {
        //clusterOptions = '--account=pezzolesi --partition=notchpeak-shared -n 1 --mem=20G -N 1'
        clusterOptions = '--account=pezzolesi --partition=notchpeak-shared -n 1 --mem=20G -N 1'
    }

    withName: haplotyper {
        module = 'bgzip/1.7:tabix/1.7'
    }

    withName: annotateFinalVCF {
        //clusterOptions = '--account=pezzolesi --partition=notchpeak-shared -n 26 --mem=20G -N 1'
        clusterOptions = '--account=pezzolesi-np --partition=pezzolesi-shared-np -n 26 --mem=20G -N 1'
    }
    
    withName: multiqc {
        //clusterOptions = '--account=pezzolesi --partition=notchpeak-shared -n 1 --mem=20G -N 1'
        clusterOptions = '--account=pezzolesi-np --partition=pezzolesi-shared-np -n 26 --mem=20G -N 1'
    }
}
